:root {
	--yellow: #ecb724 ;
	--yellow-btn: #ecb724 ;
	--dark-fg: #04151F;
	--white: #fff;
	--ph-color: #f8d676;
	--bg-program-desc: #3b3b3b;
	--red: #e96161;
	--telegram: #0088cc;
	--program-label: #ecb724d2;
	--bg-player: #0b1221;
	--our-date: #f0f0f0;
	--dark-bg: #1b1e1f;
	--bg-header-episodes: rgba(0,0,0);
	--menu-bg: #121212;
	--header-bg: rgba(24, 26, 27, 0.98);
	--footer-bg: rgba(24, 26, 27, 0.98);
	

	--header-bg: #000;
	--menu-bg: #000;
	--footer-bg: #000;

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--white);
	font-family: "Roboto", sans-serif;
}

body {
	background: var(--dark-bg);
	font-size: 18px;
	overflow-x: hidden;
}

li, ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #fff;
}

button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .5rem;
}

.App {
	max-width: 1920px;
	height: 1080;
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	padding: 2rem;
	padding-top: 8.5rem;
}

.scroll, html, body {
	scroll-behavior: smooth;
}

.scroll::-webkit-scrollbar {
  width: .65rem;
}

.scroll::-webkit-scrollbar-track {
  background: var(--white);
}


.scroll::-webkit-scrollbar-thumb {
  background: var(--yellow);
  border-radius: 128px;
}


.scroll::-webkit-scrollbar-thumb:hover {
	border-left: 1px solid var(--white);
	border-right: 1px solid var(--white);
	background-color: var(--bg-program-desc);
}

.MuiBreadcrumbs-li a { font-size: 1.2rem; }

.MuiBreadcrumbs-li a.bread-active { color: var(--yellow) }

.MuiBreadcrumbs-li a:hover {
	text-decoration: underline;
	color: var(--yellow);
}

nav.MuiTypography-root.MuiTypography-body1.MuiBreadcrumbs-root.css-63vwl1-MuiTypography-root-MuiBreadcrumbs-root{
	margin-bottom: 1rem;
}


@media only screen and (max-width: 768px) {
	.App {
		padding: 7rem 0 0 0;
	}
}


